In [14]:
import sqlite3
import pandas as pd

In [2]:
sqlconn = sqlite3.connect('Instructor.db')

In [3]:
sqlcursor = sqlconn.cursor()

In [5]:
sqlcursor.execute("""
                  DROP TABLE IF EXISTS instructor;
                  """)

In [6]:
sqlcursor.execute("""
                  CREATE TABLE IF NOT EXISTS instructor (
                    id INTEGER PRIMARY KEY NOT NULL
                  , first_name VARCHAR(20)
                  , last_name VARCHAR(20)
                  , city VARCHAR(20)
                  , ccode CHAR(2)
                  )
                  ;
                  """)

In [ ]:
sqlcursor.execute("""
                  INSERT INTO instructor
                  VALUES 
                    (1, 'Rav', 'Ahuja', 'TORONTO', 'CA')
                  , (2, 'Raul', 'Chong', 'Markham', 'CA')
                  , (3, 'Hima', 'Vasudevan', 'Chicago', 'US')
                  ;
                  """)

In [8]:
query1 =    """
            SELECT *
            FROM instructor
            ;
            """

query2 =    """
            SELECT
                first_name
            FROM
                instructor
            ;
            """

In [9]:
sqlcursor.execute(query1)
output_all = sqlcursor.fetchall()

print("ALL the data")

for row_all in output_all:
    print(row_all)

ALL the data
(1, 'Rav', 'Ahuja', 'TORONTO', 'CA')
(2, 'Raul', 'Chong', 'Markham', 'CA')
(3, 'Hima', 'Vasudevan', 'Chicago', 'US')

In [10]:
sqlcursor.execute(query1)
output_many = sqlcursor.fetchmany(2)

print("MANY data")

for row_many in output_many:
    print(row_many)

MANY data
(1, 'Rav', 'Ahuja', 'TORONTO', 'CA')
(2, 'Raul', 'Chong', 'Markham', 'CA')

In [11]:
sqlcursor.execute(query2)
result = sqlcursor.fetchall()
for record in result:
    print(record)

('Rav',)
('Raul',)
('Hima',)

In [12]:
sqlcursor.execute("""
                  UPDATE instructor
                  SET 
                    city = "MOOSETOWN"
                  WHERE
                    first_name = "Rav"
                  ;          
""")

In [13]:
sqlcursor.execute(query1)
output_many = sqlcursor.fetchmany(2)

print("MANY data")

for row_many in output_many:
    print(row_many)

MANY data
(1, 'Rav', 'Ahuja', 'MOOSETOWN', 'CA')
(2, 'Raul', 'Chong', 'Markham', 'CA')

In [15]:
df = pd.read_sql_query(query1,sqlconn)
print(df)

   id first_name  last_name       city ccode
0   1        Rav      Ahuja  MOOSETOWN    CA
1   2       Raul      Chong    Markham    CA
2   3       Hima  Vasudevan    Chicago    US

In [16]:
sqlcursor.close()
sqlconn.close()